body{
  background-image: url("https://i.pinimg.com/736x/b0/5a/99/b05a99f42969768befb8debac1bcff7e.jpg");
  margin: 0%;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  overflow: hidden;
  background-color: white;
  background: rgb(255, 255, 255);
}

.img{
  padding-left:300px ;
  height: 50px;
  width: 150px;
}
button{
  height: 36px;
  border-right: none;
  outline: none;
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}
.scarch{
  height: 30px;
  margin-right: 140px;
  width: 280px;
  outline: none;
  border: 2px solid black;
}
.location{
  display: flex;
  justify-content: center;
  align-items: center;  

}
.Shortlist{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cart{
display: flex;
justify-content: center;
align-items: center;

}
.CATEGORIES{
  width: 100%;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 100px;  
  background-color: white;
}
.item{
  margin-left: 25px ;
}
.ITEM{
  margin-left: 300px;
}
a {
  text-decoration: none;
  color: black;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
  border-left: 2px;
  border-right: 2px;
  border-top: 2px;
  outline: none;
  width: 300px;
  background: none;
  color: white;
}        

h3{
  align-items: center;
  margin-right: 250px;
  color: white;
}
button{
  margin-top: 40px;
  width: 300px;
  background:#ff7043;

  
}
a{
  color: white;
}